<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Frank Ji</a></h1>
            <p>Software Engineer<p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/resume">Résumé</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/jwzjwz2003cn" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/frank.ji.35" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/jwzjwz2003cn/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/jwzjwz2003cn" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:fwji@outlook.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
