<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Frank Ji</a></h1>
            <p>Software Engineer<p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/resume">Résumé</a></li>
                <li id="visitor-count">You are visitor #
                  <!-- Start of StatCounter Code for Default Guide -->
                    <script type="text/javascript">
                    var sc_project=10816950;
                    var sc_invisible=0;
                    var sc_security="63d7f2c3";
                    var sc_text=2;
                    var scJsHost = (("https:" == document.location.protocol) ?
                    "https://secure." : "http://www.");
                    document.write("<sc"+"ript type='text/javascript' src='" +
                    scJsHost+
                    "statcounter.com/counter/counter.js'></"+"script>");
                    </script>
                    <noscript><div class="statcounter"><a title="web counter"
                    href="http://statcounter.com/" target="_blank"><img
                    class="statcounter"
                    src="http://c.statcounter.com/10816950/0/63d7f2c3/0/"
                    alt="web counter"></a></div></noscript>
                    <!-- End of StatCounter Code for Default Guide -->
                  </li>
            </ul>
        </nav>
        <div id="top-tags">
          <div style="margin:10px" id="tagcloud-header">
            <h4>Tags</h4>
            {% for tag in site.tags %}
                <a style="display:inline-block;padding:1px;font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 40  }}%"
                href="{{ site.baseurl }}/tags#{{ tag | first | slugize }}">
                  {{ tag | first }}
                </a>
            {% endfor %}
         </div>
        </div>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/jwzjwz2003cn" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/frank.ji.35" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/jwzjwz2003cn/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/jwzjwz2003cn" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:fwji@outlook.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>
